<!DOCTYPE HTML>
<html>
	<head>
		{% seo %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="{{ "/assets/css/main.css" | relative_url }}" rel="stylesheet" />

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
		<link rel="manifest" href="images/site.webmanifest">
		<link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="images/favicon.ico">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="msapplication-config" content="images/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

				<!-- Header -->
					<section id="header" class="wrapper">

						<!-- Logo -->
						<div id="logo">
							<picture>
							  <source media="(max-width: 799px)" srcset="images/logo-70x70.png">
							  <source media="(min-width: 800px)" srcset="images/logo-160x160.png">
							  <img src="images/logo-160x160.png" alt="befull logo">
							</picture>
							<h1><a href="index.html">{{ page.title }}</a></h1>
							<p>Estaciones de carga para móviles</p>
						</div>

						<div class="slideshow">
						  <div class="slideshow-image" style="background-image: url('images/portada1.jpg')">
								<h2>
									<span class="hide-in-mobile">
										Estaciones de carga para móviles cuando estás fuera de casa.
									</span>
								</h2>
							</div>
						  <div class="slideshow-image" style="background-image: url('images/portada2.jpg')">
								<h2>
									<span class="hide-in-mobile">
										¿Por que colocar una estacion de carga en mi negocio? <br><br>
										95% de los peruanos utilizan móvil.<br>
										87% se conectan a las redes sociales y a internet a traves de su movil.
									</span>
								</h2>
							</div>
						  <div class="slideshow-image" style="background-image: url('images/portada3.jpg')">
								<h2>
									<span class="hide-in-mobile">
										9 de cada 10 personas sufren el “Síndrome de Batería Baja”, <br>
										sensación de pánico cuando su batería marca menos del 20%.
									</span>
								</h2>
							</div>
							<div class="slideshow-image" style="background-image: url('images/portada4.png')">
								<h2>
									<span class="hide-in-mobile">
										Aumenta la permanencia de tus clientes y tus ingresos.
									</span>
								</h2>
							</div>
						</div>

						<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<li><a href="products.html">Productos</a></li>
								<li><a href="#footer">Contacto</a></li>
							</ul>
						</nav>

				</section>

				<!-- Intro -->
			  <section id="intro" class="wrapper style1">
			    <div class="title">Acerca de la empresa</div>
			    <div class="container">
			      <p class="style2">
			        Soluciones innovadoras de carga de baterías para móviles<br class="mobile-hide" />
			      </p>
			      <p class="style3">Befull ofrece una variedad de cargadores de baterías de móviles para colocar en lugares públicos y privados, llamados <strong>estaciones de carga para móviles</strong>. Con nuestros productos podrás aumentar la <strong>satisfacción de tus clientes</strong>, generar <strong>ingresos</strong> y <strong>publicitar</strong> tu negocio o el de un tercero.</p>
			      <ul class="actions">
			        <li><a href="#footer" class="button style3 large">Solictar información</a></li>
			      </ul>
			    </div>
			  </section>

				<!-- Main -->
				<section id="main" class="wrapper style2">
				  <div class="title">Nuestros Servicios</div>
				  <div class="container">

				    <!-- Features -->
				      <section id="features">
				        <header class="style1">
				          <h2>Empresas</h2>
				          <p>Befull te ofrece soluciones que brindarán diversas ventajas a tu empresa.</p>
				        </header>
				        <div class="feature-list">
				          <div class="row">
				            <div class="col-6 col-12-medium">
				              <section>
				                <h3 class="icon fa-check">Capta y fideliza clientes</h3>
				                <p>Con nuestros productos tus clientes tendrán la tranquilidad de seguir conectados cuando estén fuera de casa, de forma práctica y segura.</p>
				              </section>
				            </div>
				            <div class="col-6 col-12-medium">
				              <section>
				                <h3 class="icon fa-picture-o">Variedad de modelos</h3>
				                <p>Befull pone a tu disposición una variedad de  estaciones de carga de batería, las cuales podrán generarte ingresos extras y dar un plus a tus clientes.</p>
				              </section>
				            </div>
				            <div class="col-6 col-12-medium">
				              <section>
				                <h3 class="icon fa-line-chart">Herramienta de marketing</h3>
				                <p>Todos nuestros productos son una herramienta de marketing con los que podrás publicitarte o publicitar a un tercero, lo que indudablemente  aumentará tus ganancias y la satisfacción de tus cliente.</p>
				              </section>
				            </div>
				            <div class="col-6 col-12-medium">
				              <section>
				                <h3 class="icon fa-paint-brush">Personalización</h3>
				                <p>Diseñamos y personalizamos todos nuestros productos.</p>
				              </section>
				            </div>
				          </div>
				        </div>
				      </section>

							<!-- Features 2-->
				      <section id="features">
				        <header class="style1">
				          <h2>Befull Emprendedor</h2>
				          <p>Si trabajas de forma independiente y quieres aumentar tus ingresos tenemos varias opciones de negocio para ti, de esta manera te conviertes en nuestro negociante befull que te permite obtener nuestra asesoría y descuentos en  todos nuestros productos.</p>
				        </header>
				        <div class="feature-list">
				          <div class="row">
				            <div class="col-6 col-12-medium">
				              <section>
				                <h3 class="icon fa-map">Opción número 1</h3>
				                <p>Invierte en nuestras estaciones de carga con traga monedas y colócalas en los diferentes comercios y lugares de Lima, lo cual te   generará ingresos diarios. Hay innumerables lugares donde puedes colocar tu befull, mientras más coloques más ganancias obtendrás.</p>
				              </section>
				            </div>
				            <div class="col-6 col-12-medium">
				              <section>
				                <h3 class="icon fa-usd">Opción número 2</h3>
				                <p>Según tu disponibilidad de tiempo puedes vender nuestros productos y ganarte una buena comisión.</p>
				              </section>
				            </div>
				            <div class="col-6 col-12-medium">
				              <section>
				                <h3 class="icon fa-tags">Opción número 3</h3>
				                <p>Invierte en nuestras estaciones de carga para alquilarlas en eventos o empresas, ya sean estaciones de carga de forma libre o con traga monedas.</p>
				              </section>
				            </div>
				          </div>
				        </div>
				      </section>

				  </div>
				</section>

				<!-- Highlights -->
				<section id="highlights" class="wrapper style3">
				  <div class="title">Productos</div>
				  <div class="container">
				    <div class="row aln-center">
							<div class="col-12">
									<p class="highlight" style="font-size: 1.3em;">Diseñamos la estación de carga que se ajuste a su necesidad, nuestros modelos son adaptados a cualquier espacio o lugar y colocamos tu imagen corporativa para publicitar tu negocio o el de un tercero.</p>
							</div>
				      <div class="col-4 col-12-medium">
				        <section class="highlight">
				          <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
				          <h3><a href="#">Befull Table</a></h3>
				          <p>Sugeridas para Restaurantes, cafés, bar, mesas de discotecas.</p>
				          <ul class="actions">
				            <li><a href="products.html#befull-table" class="button style1">Ver Más</a></li>
				          </ul>
				        </section>
				      </div>
				      <div class="col-4 col-12-medium">
				        <section class="highlight">
				          <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
				          <h3><a href="#">Befull Save</a></h3>
				          <p>Sugeridas para Casinos, Supermercados, Clínicas, Centros Medicos, Hospitales, Loratorios, Hoteles, Gimnasios, Centros Comerciales, Centros Nocturnos y Universidades.</p>
				          <ul class="actions">
				            <li><a href="products.html#befull-save" class="button style1">Ver Más</a></li>
				          </ul>
				        </section>
				      </div>
				      <div class="col-4 col-12-medium">
				        <section class="highlight">
				          <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
				          <h3><a href="#">Befull Wall</a></h3>
				          <p>Sugeridas para Mini market, Farmacias, Bodegas, Peluquerías, Clínicas Veterinarias, Cafeterías, Heladerías y Dulcerías.</p>
				          <ul class="actions">
				            <li><a href="products.html#befull-wall" class="button style1">Ver Más</a></li>
				          </ul>
				        </section>
				      </div>
							<div class="col-4 col-12-medium">
				        <section class="highlight">
				          <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
				          <h3><a href="#">Befull Taxi</a></h3>
				          <p>Novedoso modelo de recarga de batería de traga moneda para todo tipo de vehículos (autos y buses), que permite aumentar tus ingresos mientras haces tu recorrido, brindándole también al usuario una mayor satisfacción. Esta estación de carga incorpora cables adaptados para Android y Smartphone.</p>
				          <ul class="actions">
				            <li><a href="products.html#befull-taxi" class="button style1">Ver Más</a></li>
				          </ul>
				        </section>
				      </div>
							<div class="col-4 col-12-medium">
				        <section class="highlight">
				          <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
				          <h3><a href="#">Befull Eventos</a></h3>
				          <p>Nuestros modelos befull Save VIP y befull Save Basic también están disponibles para ser arrendados en cualquier tipo de  evento (congresos, ferias, conciertos, convenciones, exposiciones), colocando la publicidad que necesites ya sea para cargar de forma libre o con tragamonedas.</p>
				          <ul class="actions">
				            <li><a href="products.html#befull-events" class="button style1">Ver Más</a></li>
				          </ul>
				        </section>
				      </div>
				    </div>
				  </div>
				</section>

				<!-- Footer -->
				<section id="footer" class="wrapper">
					<div class="title">Contacto</div>
					<div class="container">
						<header class="style1">
							<h2>Queremos conocer tus necesidades, déjanos tus datos.</h2>
						</header>
						<div class="row">
							<div class="col-6 col-12-medium">

								<!-- Contact Form -->
									<section>
										<form method="post" action="https://formspree.io/mariagaby18@gmail.com" method="POST">
											<div class="row gtr-50">
												<div class="col-12">
													<input type="text" name="name" id="contact-name" placeholder="Nombre y apellido" />
												</div>
												<div class="col-6 col-12-small">
													<input type="text" name="email" id="contact-email" placeholder="Email" />
												</div>
												<div class="col-6 col-12-small">
													<input type="text" name="whatsapp" id="contact-whatsapp" placeholder="Número de Whatsapp" />
												</div>
												<div class="col-12">
													<textarea name="message" id="contact-message" placeholder="Mensaje" rows="4"></textarea>
												</div>
												<div class="col-12">
													<ul class="actions">
														<li><input type="submit" class="style1" value="Enviar" /></li>
														<li><input type="reset" class="style2" value="Limpiar" /></li>
													</ul>
												</div>
											</div>
										</form>
									</section>

							</div>
							<div class="col-6 col-12-medium">

								<!-- Contact -->
									<section class="feature-list small">
										<div class="row">
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon fa-phone">Teléfonos</h3>
													<p>
														+51 937 355 440
														<br>
														+51 946 717 666
													</p>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon fa-comment">Síguenos en nuestras redes sociales</h3>
													<p>
														<a href="#" class="icon fa-facebook"><span> Facebook</span></a><br />
														<a href="#" class="icon fa-twitter"><span> Twitter</span></a><br />
														<a href="#" class="icon fa-instagram"><span> Instagram</span></a>
													</p>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon fa-envelope">Email</h3>
													<p>
														<a href="#">befull@gmail.com</a>
													</p>
												</section>
											</div>
										</div>
									</section>

							</div>
						</div>
						<div id="copyright">
							<ul>
								<li>&copy; befull. Todos los derechos reservados.</li>
								<li>
									<span style="color:#ED5850;">befull</span> y sigue conectado.
								</li>
							</ul>
						</div>
					</div>
				</section>

		</div>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

	</body>
</html>
